.vscode/**
.vscode-test/**
out/**
client/out/**/*.js.map
server/out/**/*.js.map
src/**
client/src/**
server/src/**
client/web/node_modules/**
client/web/src/**
client/web/public/**
client/node_modules/**
server/node_modules/**
build/**
scripts/**
*.ts
*.map
**/*.map
test/**
client/testFixture/**
.gitignore
.yarnrc
.eslintrc.json
tsconfig.*
client/tsconfig.json
server/tsconfig.json
client/web/tsconfig.json
vue.config.js
main.prg
ts_errors.txt
client/web/babel.config.js
client/web/package.json
client/web/package-lock.json
client/package.json
client/package-lock.json
server/package.json
server/package-lock.json
